<html>
<head>
<title>{{ instanceid.stdout }}</title>
</head>
<body>
<h1>Hands-on-Lab: Nginx nodes</h1>
<h3>Create by Template at {{ ansible_date_time.iso8601 }}</h3>

{% for host in groups['all'] %}
<p>HOST : {{ hostvars[inventory_hostname]['inventory_hostname_short'] }}</p>
{% endfor %}

</body>
</html>
